.main_table {
	border-collapse: collapse;
	width: 50%;
}

.cell {
	border: 1px solid black;
}

#bottom_bar {
	width: 90%;
	position: absolute;
	bottom: 10px;
	/*background-color: red;*/
	padding: 10px;
	border: 1px solid black;
}

#select_title {
	width: 25%;
	/*background-color: green;*/
}

#select_content {
	width: 75%;
	/*background-color: blue;*/
}